* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header {
    height: 400px;
    width: 100%;
    background-color: #1F2937;
    display: inline-block;
    
}
.nav {
  
  top: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;

}
.do {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.in {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.re {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.nav li {
    display: inline-block;
    padding: 30px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    text-decoration: #F9FAF8;
}

.sec {
    font-family: sans-serif;
    justify-content: center;
    width: 80%;
}
.sec h1 {
    text-align: start;
    color: #F9FAF8;
    padding-left: 40px;
}
.sec p {
    text-align: start;
    color: #F9FAF8;
    padding-left: 40px;
}
.sec input {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    margin: 40px;
    border: 1px solid white;

}
#be {
    height: 200px;
    width: 300px;
    float: right;
    align-items: center;
    text-align: justify;
}
.container {
    height: 400px;
    width: cover;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
h2 {
    text-align: center;
    padding: 30px;
}
.image{

    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 10px;

}
.image p {
    display: flex;
    text-align: center;
}
.qoute {
    height: 400px;
    width: cover;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
}
.qoute p {
    text-align: center;
    justify-content: center;
    padding: 60px;
}
    
.down{
    background-color: #3882F6;
    text-decoration: 36px extra-bold #1F2937;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    justify-content: center;
    height: 150px;
} 
.down p{
    text-align: start;
    color: aliceblue;
} 
.end input{
    margin-bottom: 100px;
    background-color: #3882F6;
    border-radius: 6px;
    justify-content: right;
    border: 1px solid white;
    font-size: large;
    color: aliceblue;
    font-weight: bold;
    
} 
h6 {
    font-size: medium;
    color: aliceblue;
    padding: 5px;
    text-align: start;
}

.end {
    height: 300px;
    width: 100%;
    background-color: #F9FAF8;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    display: flex;
}
    
.footer {
    background-color: #1F2937;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
}