* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
.main-header {
    background-color: #1F2937;
    background-size: cover;
    height: 400px;
    display: flexbox;
    position: fixed;
    width: 100%;
    border: 2px;
    padding-bottom: 30px;
    

}
.logo nav {
    display: inline;
    justify-content: space-between;
    flex-direction: row;
    float: left;
    padding: 20px;
    

}
.links li {
    display: inline;
    text-decoration: none;
    flex-direction: row;
    float:right;
    justify-content: space-between;
    padding: 20px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: center;
}
.main-header img {
    height: 300px;
    width: 500px;
    float: right;
    padding: 30px;
}
.container {
  height: 400px;
  width: fit-content;
  background-color: red;
}
{
    height: 250px;
    width: 250x;
    border: 2px solid rgb(104, 104, 236);
    border-radius: 10px;
}
